.card-media {
  background-image: url(http://www.saobernardo.sp.gov.br/documents/10181/370004/Vista+a%C3%A9rea_Pa%C3%A7o+Municipal_Centro_foto+Raquel+Toth.JPG/7d0e926e-c8f3-49cf-a914-10b6f540b8d7?t=1425690643089);
  background-size: cover;
}

.card-evento {
  padding-top: 10px;
}

#top-bar {
  box-shadow: none;
  background: transparent;
}

.card-cover {
  background-size: cover;
}

//.header-bar {
  //height: 100px;
  //background-color: #3382cc;
//}

.font-white {
  color: white;
}

.icon-button {
  color: gray;
}

.icon {
  font-size: 18px;
}

.md-headline {
  font-size: 22px;
}

#nav {
  background: #f2f2f2;
}
