<td-layout-nav color="primary" id="nav">
  <div id="top-bar" td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Agenda Digital</span>
    <span flex></span>
    <!--<a md-icon-button mdTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank"><md-icon>face</md-icon></a>-->
  </div>
<div *ngFor="let evento of eventos">
  <div class="dia pad-sm" layout="row" layout-align="center center">
    <span>
     - {{evento.dia}} de {{evento.mes}} -
    </span>
  </div>
  <md-card  class="card-evento pad-sm">
    <!--<img class="card-cover" md-card-image src="{{evento.foto}}" alt="Imagem de capa do evento">-->
    <div class="header-bar" layout="row" layout-align="start center">
        <md-card-title>
          <span class="md-headline">{{evento.titulo}}</span>
        </md-card-title>
    </div>
      <div layout="row" layout-align="start center">
        <md-card-subtitle>
          <span class="md-subhead">{{evento.horaInicio}} em</span> 
          <span class="md-subhead">{{evento.local}}</span>
        </md-card-subtitle>
      </div>
      <div layout="row" layout-align="end center">
        <button md-button color="primary">Inscreva-se</button>
        <!--<button md-icon-button class="icon-button"><md-icon>share</md-icon></button>
        <button md-icon-button class="icon-button"><md-icon>info</md-icon></button>-->
      </div>
    </md-card>


  <!--<md-card *ngFor="let evento of eventos" class="card-evento">
    <img class="card-cover" md-card-image src="{{evento.foto}}" alt="Imagem de capa do evento">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title><h2>{{evento.titulo}}</h2></md-card-title>
      <md-card-subtitle><md-icon class="icon">event</md-icon> {{evento.dia}} de {{evento.mes}} de {{evento.ano}}</md-card-subtitle>
      <md-card-subtitle><md-icon class="icon">place</md-icon> {{evento.local}}</md-card-subtitle>
    </md-card-header>
    
    <md-card-content>
      <p>
        {{evento.descricao}}
      </p>
    </md-card-content>
   
    <md-card-actions>
      <button md-button>INSCREVA-SE</button>
      <div layout="row" layout-align="end center">
        <button md-raised md-button><md-icon>share</md-icon></button>
      </div>
    </md-card-actions>
  </md-card> -->

</div>
</td-layout-nav>
