.example-card {
  width: 100%;
}

.example-header-image {
  background-image: url(http://www.saobernardo.sp.gov.br/documents/10181/370004/Vista+a%C3%A9rea_Pa%C3%A7o+Municipal_Centro_foto+Raquel+Toth.JPG/7d0e926e-c8f3-49cf-a914-10b6f540b8d7?t=1425690643089);
  background-size: cover;
}